[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

obj/
bin/

.vs/

*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Office temporary lock files
~$*.xlsx

# Distributed memo source left while the workbook is open
/memo/レベルデザイン.xlsx
